{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-md col-md-8 text-center mt-4">
		<h3 class="text-success text-center">Course LIST</h3>
		<a class="btn btn-outline-success mt-2" href="{{ path('course_add') }}">ADD Course</a>
		<table class="table table-success table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Menu</th>
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
					<tr>
						<td>{{ course.id }}</td>
						<td>
							<a class="text-info" href="{{ path('course_detail', {'id': course.id}) }}">
								{{ course.name }}
							</a>
						</td>
						<td>
                        
							<a class="btn btn-info" href="{{ path('course_edit', {'id': course.id}) }}">EDIT</a>
							<a class="btn btn-warning" href="{{ path('course_delete', {'id': course.id}) }}" onclick="return confirm('Are you sure to delete this course ?')">DELETE</a>
                        
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block copyright %}
		<div class="text-primary"class="center">
			<h4>
				<i class="fa fa-copyright" aria-hidden="true">
					Copyright by Group 4
				</i>
			</h4>
		{% endblock %}