{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-6 mt-3 mb-3">
   <h2 class="text-center">EDIT STUDENT</h2>
   <div class="col md-6"></div>
   {{ form_start (form) }}
      <div class="form-group">
         {{ form_label (form.name) }}
         {{ form_widget (form.name,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.birthday) }}
         {{ form_widget (form.birthday,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.address) }}
         {{ form_widget (form.address,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.mobile) }}
         {{ form_widget (form.mobile,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div> 
      <div class="form-group">
      {{ form_label (form.cover) }}
      {{ form_widget (form.cover,
         {
            'attr' : {'class' : 'form-control'}
         })
      }}
      </div>
      <div class="form-group">
         {{ form_label (form.room) }}
         {{ form_widget (form.room,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      
      <div class="form-group text-center mt-3">
         <input class="btn btn-primary" type="submit" value="Add">
      </div>
   {{ form_end (form) }}
</div>
{% endblock %}