{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block nav %} {% endblock %}

{% block body %}
<div class="p-3 mb-2 bg-secondary text-white">
<div class="form-row align-items-center">
    <h1 class="text-primary text-uppercase">Account Registration</h1>

    {{ form_start(registrationForm) }}
    <div class="col-auto">
        <label>Username</label>
        {{ form_widget(registrationForm.username) }}
    </div>
    <div class="col-auto">
        <label>Password</label>
        {{ form_widget(registrationForm.plainPassword) }}
    </div>
    <div class="form-check mb-2">
        {{ form_widget(registrationForm.agreeTerms) }}
        <lable>Agree terms</label>
    </div>
        <button type="submit" class="btn btn-outline-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}

{% block copyright %} {% endblock %}
