{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 mt-3">
		<h3 class="text-success text-center text-capitalize">Teacher DETAIL</h3>
		<a class="btn btn-outline-success mt-2" href="{{ path('teacher_index') }}">Teacher LIST</a>
		<table class="table table-striped text-center mt-2">
			<thead>
				<tr>
					<th>Name</th>
					<th>Avatar</th>
					<th>Birthday</th>
					<th>ADDRESS</th>
					<th>COURSE</th>
					<th>Menu</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ teacher.name }}</td>
					<td>
						<img src="{{ asset('covers/'~teacher.avatar )}}" alt="avatar" width="100" height="120">
					</td>
					<td>{{ teacher.birthday|date('d/m/Y') }}</td>
					<td>{{ teacher.address }}</td>
					<td>
						{% for course in teacher.courses %}
							<a class="text-decoration-none" href="{{ path('course_detail', {'id': course.id }) }}">
								{{ course.name }}
							</a>
							<br>
						{% endfor %}
						
					</td>
					<td>
						<a class="btn btn-info" href="{{ path('teacher_edit', {'id': teacher.id}) }}">EDIT</a>
						<a class="btn btn-warning" href="{{ path('teacher_delete', {'id': teacher.id}) }}"
                  onclick= "return confirm('Are you sure to delete this teacher ?')"
                  >DELETE</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}