{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-6 mt-3 mb-3">
   <h2 class="text-center">ADD NEW ROOM</h2>
   <div class="col md-6"></div>
   {{ form_start (form) }}
      <div class="form-group">
         {{ form_label (form.name) }}
         {{ form_widget (form.name,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.teacher) }}
         {{ form_widget (form.teacher,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.address) }}
         {{ form_widget (form.address,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div>
      <div class="form-group">
         {{ form_label (form.description) }}
         {{ form_widget (form.description,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
      </div> 

      
      <div class="form-group text-center mt-3">
         <input class="btn btn-primary" type="submit" value="Add">
      </div>
   {{ form_end (form) }}
</div>
{% endblock %}