{% extends 'base.html.twig' %}

{% block body %}
 <div class="container-md col-md-8 text-center mt-4">
   <a href="{{ path('room_add')}}">
      <img src="{{ asset('img/add.png') }}" width="80" height="50">
   </a>
  <table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive mt-4">
       <thead>
            <tr>
                <th>Room ID</th>
                <th>Room Name</th>
                <th>Teacher of clas</th>
                <th>Room Address</th>
                <th>Room Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
       </thead>
       <tbody>
       {% for room in rooms %}
           <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td> {{room.teacher}} </td>
                 <td> {{ room.address}} </td>
                  <td> {{ room.description}} </td>
                <td>
                    <a href="{{ path('room_edit', {'id' : room.id }) }}" >
                        <img src="{{ asset('img/edit.png') }}" width='50' height='50' />
                    </a>
                </td>
                <td>
                   <a href="{{ path('room_delete', {'id' : room.id }) }}" 
                        onclick = "return confirm('Do you want to delete this room ?');">
                        <img src="{{ asset('img/delete.png') }}" width='50' height='50' />
                    </a>
                </td>
           </tr>
       {% endfor %}
       </tbody>
  </table>
</div>

{% endblock %}
{% block copyright %}
		<div class="container col-md-8 text-center text-bold mt-lg-5">
			<h4>
				<i class="fa fa-copyright" aria-hidden="true">
					Copyright by Greenwich University - 2021
				</i>
			</h4>
		{% endblock %}

