{% extends "base.html.twig" %}
{% block body %}

<div class="p-3 mb-2 bg-info text-white">
<h2 class="text-center"> ADD New Subject</h2>
<div class="col md-6"></div>

{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.subjectID)}}
    {{form_widget(form.subjectID,{
        'attr' : {'class' : "form-label"}
    })}}
</div>

<div class="form-group">
    {{ form_label(form.name)}}
    {{form_widget(form.name,{
        'attr' : {'class' : "form-label"}
    })}}
</div>

<div class="form-group">
    {{ form_label(form.schedule)}}
    {{form_widget(form.schedule,{
        'attr' : {'class' : "form-label"}
    })}}
</div>


<div class="form-group">
    {{ form_label(form.material)}}
    {{form_widget(form.material,{
        'attr' : {'class' : "form-label"}
    })}}
</div>

<div class="form_group text-center mt-3">
<input type="submit" value="ADD" class="btn btn-secondary">
</div>

{{ form_end(form) }}

</div>

{% endblock %}