{% extends 'base.html.twig' %}

{% block body %}
<div class="container-md col-md-8">
<a class="btn btn-warning" href="{{path('subject_add')}}">
    Add new subject
</a>
<table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive">
    <thead>
        <tr>
            <th>Subject ID </th>
            <th>Subject Name</th>
            <th>Schedule Start</th>
            <th>Subject Material</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    {% for subject in subjects %}
        <tr>
            <td>{{subject.id}}</td>
            <td>{{subject.name}}</td>
            <td>{{subject.schedule | date("m/d/Y")}}</td>
            <td>       
                <img src="{{ asset('covers/'~subject.material) }}" width="100" height="120">     
            </td>

            <td>
                <a class="btn btn-warning" href="{{path('subject_edit',{'id':subject.id})}}">
                Edit
                </a>

                <a class="btn btn-warning" href="{{path('subject_delete',{'id':subject.id})}}"
                onclick = "return confirm('Are You relly wanna delete this Subject');">
                Delete
                </a>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}
{% block copyright %}
		<div class="container col-md-8 text-center text-bold mt-lg-5">
			<h4>
				<i class="fa fa-copyright" aria-hidden="true">
					Copyright by Greenwich University - 2021
				</i>
			</h4>
		{% endblock %}