{% extends "base.html.twig" %}
{% block body %}

<div class="container col-md-6 mt-3 mb-3">
<h2 class="text-center"> ADD New SEMESTER</h2>
<div class="col md-6"></div>

{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.name)}}
    {{form_widget(form.name,{
        'attr' : {'class' : "form-control"}
    })}}
</div>

<div class="form-group">
    {{ form_label(form.timeStart)}}
    {{form_widget(form.timeStart,{
        'attr' : {'class' : "form-control"}
    })}}
</div>

<div class="form-group">
    {{ form_label(form.timeEnd)}}
    {{form_widget(form.timeEnd,{
        'attr' : {'class' : "form-control"}
    })}}
</div>

<div class="form-group">
    {{ form_label(form.tuition)}}
    {{form_widget(form.tuition,{
        'attr' : {'class' : "form-control"}
    })
    }}
</div>

<div class="form_group text-center mt-3">
<input type="submit" value="EDIT" class="btn btn-primary">
</div>

{{ form_end(form) }}

</div>

{% endblock %}