{% extends "base.html.twig" %}
{% block body %}

<div class="p-3 mb-2 bg-success text-white">
<h2 class="text-center"> Edit SEMESTER</h2>
<div class="col md-6"></div>

{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.name)}}
    {{form_widget(form.name,{
        'attr' : {'class' : "col-form-label"}
    })}}
</div>

<div class="form-group">
    {{ form_label(form.timeStart)}}
    {{form_widget(form.timeStart,{
        'attr' : {'class' : "col-form-label"}
    })}}
</div>

<div class="form-group">
    {{ form_label(form.timeEnd)}}
    {{form_widget(form.timeEnd,{
        'attr' : {'class' : "col-form-label"}
    })}}
</div>

<div class="form-group">
    {{ form_label(form.tuition)}}
    {{form_widget(form.tuition,{
        'attr' : {'class' : "col-form-label"}
    })
    }}
</div>

<div class="form_group text-center mt-3">
<input type="submit" value="EDIT" class="btn btn-primary">
</div>

{{ form_end(form) }}

</div>

{% endblock %}